[submodule "external/bit_span"]
	path = external/bit_span
	url = https://github.com/tudocomp/bit_span.git
[submodule "external/tudostats"]
	path = external/tudostats
	url = https://github.com/tudocomp/tudostats.git
