[submodule "external/bit_span"]
	path = external/bit_span
	url = https://github.com/tudocomp/bit_span.git
[submodule "external/broadwordsearch"]
	path = external/broadwordsearch
	url = https://github.com/koeppl/broadwordsearch.git
